.view {
    display: none;
    margin: 0 auto;
    padding: 15px 3%;
    box-sizing: border-box;
    max-width: $che_max_inner_width;
    min-width: $che_min_inner_width;

    &__inner {
        margin: 0 3%;
    }

    &_visible {
        display: block;
    }

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__wrapper {
        margin: 0 0 1em;
    }

    &__twin {
        max-width: $che_max_inner_width;
        margin: 10px auto;

        &-left {
            float: left;
        }

        &-right {
            float: right;
        }

        &-left, &-right {
            width: 48%;
            min-width: $date_wrap_width;
            display: inline-block;
        }
    }
}

@media (min-width: $che_max_inner_width) {
    .view {
        padding: 15px 0;
    }
}
