.view-contacts-content {
    h4 {
        font-size: $che_font_size;
        margin: 0 0 0.2em;
    }

    &__info {
        font-size: 1.1em;
        line-height: $che_line_height;
    }

    &__location {
      display: inline-block;
      width: 70px;
    }

    &__phone-number {
        font-size: 1.2em;
        line-height: 110%;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin-right: 5px;
    }

    &__free-call {
      display: inline-block;
      font-size: 0.8em;
    }
}
