/**
 * Параметры конфигурации
 * Правила наименования:
 * - lowercase (like in css)
 * - starts with $ sign (like in sass)
 * - use an underscore sign to separate words (like in javascript)
 */

$che_primary = #00a3b7;
$che_accent = #ffe046;
$che_text_color = #333;
/* todo: change a font (пока поставила приближенный шрифт, не знаю стоит ли перегружать мобилку не стандартным шрифтом)*/
$che_font_family = "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$che_line_height = 120%;
/* https://developers.google.com/speed/docs/insights/UseLegibleFontSizes */
$che_font_size   = 16px;
$che_border_radius = 5px;
$che_max_inner_width = 600px;
$che_min_inner_width = 310px;

$block_width = 320px;
$base_margin = 16px;
$date_wrap_width = $block_width / 2 - $base_margin;

/* Allows to define a background-image for a doubled image for devices with a higher pixel ratio such as retina displays. This works by using a @media query to serve an "@2x" version of the file.
 * Define background-image as `path` with optional width and height, adding an @2x variant.
 * - http://tj.github.io/nib/
 * - github.com/LearnBoost/stylus/issues/1050
 * - github.com/LearnBoost/stylus/issues/1038
 */
retina-image(path, w = auto, h = auto, min_pixel_ratio = 1.5) {

  s = 'all and (-webkit-min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min--moz-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(-o-min-device-pixel-ratio:' + min_pixel_ratio + '/1),'
  s = s + '(min-device-pixel-ratio:' + min_pixel_ratio + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio*92, dpi) + '),'
  s = s + '(min-resolution:' + unit(min_pixel_ratio, dppx) + ')'

  @media s {
    background-image: path;
    if w in (cover contain) and h == auto { h = null; }
    background-size: w h;
  }
}
