html {
    margin: 0;
    height: 100%;
}

.page {
    display: block;

    margin: 0;
    height: 100%;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background: #fff;
    color: $che_text_color;
    font: $che_font_size/$che_line_height $che_font_family;

    &_theme_blue {
         background: $che_primary;
         color: #fff;
         text-shadow: 0 -1px 0 #008090;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 0 0.7em;
        font-weight: bold;
    }

    h2 {
        font-size: 1.3em;
        margin: 0 0 0.5em;
        font-weight: bold;
    }

    h3 {
        font-size: 1.1em;
        margin: 0 0 0.3em;
        font-weight: bold;
    }

    p {
        margin: 0 0 0.6em;
    }

}
